.centerSectionBack {
    /* z-index: 1; */
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 60%;
    
}

   
.centerSectionFront section {
    height: 25%;
    box-sizing: border-box;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}
.centerSectionFront section h3{
  padding: 0;
  color: black;
  margin: 0;
  padding-left: 0.8rem;
  padding-bottom: 5px;
  box-sizing: border-box;
}
.centerSectionFront {
    /* z-index: 100; */
    height: 100%;
    width: 95%;
    margin: auto;
    background-color:rgb(243, 243, 243);
    /* padding-top: 3rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}
.centerSectionFront > input{
    padding:0.8rem;
    border-radius: 10px;
    background-color: rgb(252, 251, 250);
    color: lightcoral;
    border-color:  lightskyblue;
    width: 90%;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;

}
/* .centerSectionFront > input:focus{
    border: 1px solid mistyrose;
} */