.ImageDiv {
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    box-sizing: border-box;
    
}
.ImageDiv img {
   width: 48px;
   height: 48px;
    border-radius: 50%;
    margin-left: -12px;
}

